* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Satisfy", cursive;
  background-color: azure;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.container {
  display: grid;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColum {
  display: flex;
  flex-direction: column;
}

.bodyIndex .bodyIndex__headerIndex {
  width: 100vw;
  height: 100vh;
}
.bodyIndex .bodyIndex__headerIndex .bodyIndex__headerIndex__banner {
  background-image: url(../img/carrusel3.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.bodyIndex .bodyIndex__headerIndex .bodyIndex__headerIndex__banner .bodyIndex__headerIndex__banner__etiqueta {
  display: none;
}
.bodyIndex .bodyIndex__headerIndex .bodyIndex__headerIndex__banner .bodyIndex__headerIndex__banner__navbar {
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 12vh;
  background-color: rgba(113, 205, 248, 0.274);
  position: fixed;
}
.bodyIndex .bodyIndex__headerIndex .bodyIndex__headerIndex__banner .bodyIndex__headerIndex__banner__navbar .bodyIndex__headerIndex__banner__navbar--logo {
  width: 200px;
}
.bodyIndex .bodyIndex__headerIndex .bodyIndex__headerIndex__banner .bodyIndex__headerIndex__banner__navbar .bodyIndex__headerIndex__banner__navbar__list {
  justify-content: space-around;
  width: 60vw;
}
.bodyIndex .bodyIndex__headerIndex .bodyIndex__headerIndex__banner .bodyIndex__headerIndex__banner__navbar .bodyIndex__headerIndex__banner__navbar__list .bodyIndex__headerIndex__banner__navbar__list__item {
  font-weight: bold;
  font-family: "Amatic SC", cursive;
  display: block;
  font-size: 1.4rem;
  padding: 5px 15px;
  display: inline-block;
}
.bodyIndex .bodyIndex__headerIndex .bodyIndex__headerIndex__banner .bodyIndex__headerIndex__banner__navbar .bodyIndex__headerIndex__banner__navbar__list .bodyIndex__headerIndex__banner__navbar__list__item .bodyIndex__headerIndex__banner__navbar__list__item--juegos:hover {
  border-top: blue 5px solid;
  border-bottom: blue 8px solid;
  font-size: 1.8rem;
  color: #f456fa;
  text-shadow: black 1px 1px 2px;
}
.bodyIndex .bodyIndex__headerIndex .bodyIndex__headerIndex__banner .bodyIndex__headerIndex__banner__navbar .bodyIndex__headerIndex__banner__navbar__list .bodyIndex__headerIndex__banner__navbar__list__item .bodyIndex__headerIndex__banner__navbar__list__item--amigu:hover {
  border-top: yellow 3px solid;
  border-bottom: yellow 8px solid;
  font-size: 1.8rem;
  color: orange;
  text-shadow: black 1px 1px 2px;
}
.bodyIndex .bodyIndex__headerIndex .bodyIndex__headerIndex__banner .bodyIndex__headerIndex__banner__navbar .bodyIndex__headerIndex__banner__navbar__list .bodyIndex__headerIndex__banner__navbar__list__item .bodyIndex__headerIndex__banner__navbar__list__item--cont:hover {
  border-top: red 3px solid;
  border-bottom: red 8px solid;
  font-size: 1.8rem;
  color: rgba(9, 195, 149, 0.883);
  text-shadow: black 1px 1px 2px;
}
.bodyIndex .bodyIndex__headerIndex .bodyIndex__headerIndex__banner .bodyIndex__headerIndex__banner__navbar .bodyIndex__headerIndex__banner__navbar__list .bodyIndex__headerIndex__banner__navbar__list__item .bodyIndex__headerIndex__banner__navbar__list__item--nos:hover {
  border-top: #3eb83e 3px solid;
  border-bottom: #3eb83e 8px solid;
  font-size: 1.8rem;
  color: #0783f8;
  text-shadow: black 1px 1px 2px;
}
.bodyIndex .bodyIndex__headerIndex .bodyIndex__headerIndex__banner .bodyIndex__headerIndex__banner__navbar__etiqueta {
  display: flex;
  justify-content: right;
  background-color: rgba(9, 195, 149, 0.883);
}
.bodyIndex .bodyIndex__headerIndex .bodyIndex__headerIndex__banner .bodyIndex__headerIndex__banner__navbar__etiqueta .bodyIndex__headerIndex__banner__navbar__etiqueta--btn {
  display: none;
  width: 40px;
  height: 40px;
}
.bodyIndex .bodyIndex__headerIndex .bodyIndex__headerIndex__banner .bodyIndex__headerIndex__banner__navbar__etiqueta .bodyIndex__headerIndex__banner__navbar__etiqueta--btn:hover {
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
