@import "_globales.scss";



.bodyIndex__headerIndex{
    width: 100vw;
    
    
        .bodyIndex__headerIndex__banner{
            background-image: url(../img/carrusel3.jpg);
            background-size: cover;
            width: 85%;
            height: 100vh;
            .bodyIndex__headerIndex__banner__navbar{
                

                .bodyIndex__headerIndex__banner__navbar--logo{
                width: 150px;
                }
                width: 85%;
                height: 10vh;
                background-color: burlywood;
                .bodyIndex__headerIndex__banner__navbar__list{
                    margin: 0;
                    padding: 0;
                    .bodyIndex__headerIndex__banner__navbar__list__item{
                        font-size: 1.3rem;
                        display: inline-block;
                    }
                }
            }
        }


}