@import "_globales.scss";



.bodyIndex__headerIndex{
   
        .bodyIndex__headerIndex__banner{
            background-image: url(../img/carrusel3.jpg);
            background-size: cover;
            width: 100vw;
            height: 100vh;
        }


}