@import "_globales.scss";
$fuenteNavBar400: "Amatic SC", cursive;
$fuenteNavBar700: "Satisfy", cursive;

.bodyIndex {
  margin: 15px auto;
  .bodyIndex__headerIndex {
    margin: 0 auto;
    padding: 0;
    width: 95vw;
    height: 100vh;
    .bodyIndex__headerIndex__cajaBtn{

      display: none;
      height: 12vh;
      justify-content: space-around;
      background-color: rgb(1, 173, 253);
      
      .bodyIndex__headerIndex__cajaBtn--logo{
        width: 300px;
      }
    .bodyIndex__headerIndex__cajaBtn__input {
      display: none;
      
    }
    .bodyIndex__headerIndex__cajaBtn__label {
      
      
      .bodyIndex__headerIndex__cajaBtn__label--btn {
        display: none;
        width: 40px;
        height: 40px;
        margin: 15px 25px;

      }
      .bodyIndex__headerIndex__cajaBtn__label--btn:hover {
        cursor: pointer;
        
      }
    }
  }
    .bodyIndex__headerIndex__banner {
      background-image: url(../img/carrusel3.jpg);
      background-size: cover;
      width: 100%;
      height: 100vh;
      .bodyIndex__headerIndex__banner__navbar {
        align-items: center;
        justify-content: space-around;
        width: 95vw;
        height: 12vh;
        background-color: rgb(1, 173, 253);
        position: fixed;
        
        .bodyIndex__headerIndex__banner__navbar--logo {
          width: 300px;
        }
        .bodyIndex__headerIndex__banner__navbar__list {
          justify-content: space-around;
         
          width: 60vw;

          .bodyIndex__headerIndex__banner__navbar__list__item {
            font-weight: bold;
            font-family: "Amatic SC", cursive;
            display: block;
            font-size: 1.4rem;
            padding: 5px 15px;
            display: inline-block;
            flex-grow: 1;
           
            
            .bodyIndex__headerIndex__banner__navbar__list__item--juegos:hover{
                border-top: blue 5px solid;
                border-bottom: blue 8px solid;
                font-size: 1.8rem;
                color: rgb(244, 86, 250);
                text-shadow: black 1px 1px 2px;
            }
            .bodyIndex__headerIndex__banner__navbar__list__item--amigu:hover{
                border-top: yellow 3px solid;
                border-bottom:yellow 8px solid;
                font-size: 1.8rem;
                color: orange;
                text-shadow: black 1px 1px 2px;
            }
            .bodyIndex__headerIndex__banner__navbar__list__item--cont:hover{
                border-top: red 3px solid;
                border-bottom:red  8px solid;
                font-size: 1.8rem;
                color: rgba(9, 195, 149, 0.883);
                text-shadow: black 1px 1px 2px;
            }
            .bodyIndex__headerIndex__banner__navbar__list__item--nos:hover{
                border-top: rgb(62, 184, 62) 3px solid;
                border-bottom:rgb(62, 184, 62) 8px solid;
                font-size: 1.8rem;
                color: rgb(7, 131, 248);
                text-shadow: black 1px 1px 2px;
            }
             

          }
        }
      }


    }
  }
}
// @media (max-width:768px){
//   .bodyIndex__headerIndex__banner__input{
//     display: block;
    
//   }

// }